@import "colours";
@import "media-queries";
@import "colour-tint-and-shade";

.clearfix {
  zoom: 1;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

input:focus,
button:focus {
  outline: 3px solid $yellow;
}

.visuallyhidden {
  position: absolute;
  top: -999em;
  left: -999em;
}

//////////////

.service-banner {
  padding: 18px 0;
  background-color: rgba($blue, 0.1);

  h1 {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }
}

//////////////

.gp-finder-search {

  padding: 9px 0;
  background-color: #EFF5FD;
  //background-color: rgba($blue, 0.09);

  @include media(large) {
    padding: 18px 0;
  }

  label {
    display: block;
    padding-left: 5px;
    font-size: 26px;
    color: $blue;
  }

  .hint {
    display: block;
    margin-top: 6px;
    font-size: 16px;

    @include media(large) {
      font-size: 18px;
    }
  }

  input[type="text"] {
    float: left;
    box-sizing: border-box;
    width: calc(100% - 54px);
    padding: 0 12px;
    font-family: inherit;
    font-size: 26px;
    line-height: 48px;
    border: 3px solid $blue;

    @include media(large) {
      width: calc(75% - 54px);
    }
  }

  button {
    float: left;
    box-sizing: border-box;
    width: 54px;
    padding: 0 12px;
    font-family: inherit;
    font-size: 26px;
    line-height: 54px;
    text-indent: -999em;
    color: $white;
    background: url("/images/icon-search.svg") center no-repeat $blue;
    background-size: 65%;
    border: 0;

    cursor: pointer;
  }

  .clearfix {
    padding: 12px 0 0 0;
  }

}

.gp-finder-results {

  @include media(large) {
    max-width: 75%;
  }

  a.result {
    display: block;
    margin: 9px 0;
    padding: 12px 12px 6px 12px;
    text-decoration: none;
    color: $black;
    background-color: $white;
    border: 1px solid $grey-2;
    border-bottom-width: 2px;

    @include media(large) {
      margin: 18px 0;
    }
  }

  a.result {
    transition: background-color 0.2s;
    &:hover {
      background-color: tint($yellow, 90%);
    }
  }

  @media (any-pointer: fine) {
    a.result {
      transition: opacity 0.2s;
    }

    &:hover {
      a.result {
        opacity: 0.2;
        &:hover {
          opacity: 1;
          background-color: $white;
        }
      }
    }
  }

  h2 {
    font-weight: 400;
    color: $blue;
    text-decoration: underline;
    margin: 0;
  }

  p {
    margin: 6px 0;
    font-size: 16px;
    @include media(large) {
      margin: 12px 0;
      font-size: 18px;
    }
  }

  .distance {
    font-size: 14px;
    @include media(large) {
      font-size: 16px;
    }
  }

  .person {
    position: relative;
    left: 6px;
    padding-left: 18px;
    border-left: 1px dotted $black;

    img {
      display: inline-block;
      vertical-align: middle;
    }

    &:before {
      content: '';
      position: absolute;
      left: -1px;
      top: 48%;
      bottom: 0;
      display: block;
      width: 12px;
      background-color: $white;
      border-top: 1px dotted $black;
    }
  }

  strong {
    padding-left: 2px;
    padding-right: 2px;
    font-weight: 400;
    background-color: tint($blue, 90%);
  }

}

.gp-finder-pagination {
  @include media(large) {
    max-width: 75%;
  }
}

//////////////

// Book page elements
.practice-detail-section {
  margin: 36px 0;

  h2 {
    font-weight: 400;
    margin: 0;
  }

  p {
    margin: 6px 0;
    font-size: 16px;
    @include media(large) {
      margin: 12px 0;
      font-size: 18px;
    }
  }
}

.call-to-action-section {
  margin: 36px 0;
  padding: 18px 0 1px 0;
  background-color: rgba($blue, 0.1);

  h3 {
    margin-top: 0;
  }

  a {
    font-size: 92px;
    line-height: 0.8;
    font-weight: 700;
    letter-spacing: -2px;
    text-decoration: none;
    color: $blue;
  }
}

.smallprint {
  font-size: 15px;
  color: rgba($black, 0.5);
}
