@import "colours";
@import "media-queries";
@import "colour-tint-and-shade";

.clearfix {
  zoom: 1;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

input:focus,
button:focus {
  outline: 3px solid $yellow;
}

.visuallyhidden {
  position: absolute;
  top: -999em;
  left: -999em;
}

dl {
  @extend .clearfix;
  dt {
    float: left;
    padding-right: 9px;
  }
  dd {
    margin-bottom: 8px;
  }
}

//////////////

.service-banner {
  padding: 18px 0;
  background-color: rgba($blue, 0.1);

  h1 {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }
}

//////////////

.gp-finder-search {

  padding: 9px 0;
  background-color: #EFF5FD;
  //background-color: rgba($blue, 0.09);

  @include media(large) {
    padding: 18px 0;
  }

  h1 {
    margin: 0;
    font-size: 26px;
    font-weight: 400;
    line-height: inherit;
    color: $blue;
  }

  label {
    display: block;
    padding-left: 5px;
  }

  input[type="text"] {
    float: left;
    box-sizing: border-box;
    width: 80%;
    width: calc(100% - 54px);
    padding: 0 12px;
    font-family: inherit;
    font-size: 26px;
    line-height: 48px;
    height: 54px;
    border: 3px solid $blue;

    @include media(large) {
      width: calc(75% - 54px);
    }
  }

  button {
    float: left;
    box-sizing: border-box;
    width: 54px;
    height: 54px;
    padding: 0;
    font-family: inherit;
    color: $white;
    text-indent: -999em;
    background: url("/images/icon-search.svg") center no-repeat $blue;
    background-size: 65%;
    border: 0;

    cursor: pointer;
  }

  .clearfix {
    padding: 18px 0 0 0;
  }

}

.gp-finder-results {

  @include media(large) {
    max-width: 75%;
  }

  a.result {
    display: block;
    margin: 9px 0;
    padding: 12px 12px 6px 12px;
    text-decoration: none;
    color: $black;
    background-color: $white;
    border: 1px solid $grey-2;
    border-bottom-width: 2px;

    @include media(large) {
      margin: 18px 0;
    }
  }

  a.result {
    &:hover {
      outline: 3px solid $yellow;
    }
  }

  h2 {
    font-weight: 400;
    color: $blue;
    text-decoration: underline;
    margin: 0;
  }

  p {
    margin: 6px 0;
    font-size: 16px;
    @include media(large) {
      margin: 12px 0;
      font-size: 18px;
    }
  }

  .distance {
    font-size: 14px;
    @include media(large) {
      font-size: 16px;
    }
  }

  .person {
    position: relative;
    left: 6px;
    padding-left: 18px;
    border-left: 1px dotted $black;

    img {
      display: inline-block;
      vertical-align: middle;
    }

    &:before {
      content: '';
      position: absolute;
      left: -1px;
      top: 48%;
      bottom: 0;
      display: block;
      width: 12px;
      background-color: $white;
      border-top: 1px dotted $black;
    }
  }

  strong {
    padding-left: 2px;
    padding-right: 2px;
    font-weight: 400;
    background-color: tint($blue, 90%);
  }

  a.start-of-page:not(:first-child) {
    position: relative;
    margin-top: 30px;
  }

  a.start-of-page:not(:first-child):before {
    content: "";
    display: block;
    background: #ddd;
    position: absolute;
    top: -17px;
    width: 100%;
    height: 2px;
    left: 0;
  }
}

.gp-finder-pagination {
  @include media(large) {
    max-width: 75%;
  }
}

.gp-finder-foot,
.gp-finder-no-results {
  margin-top: 22px;
  font-size: 16px;
  @include media(large) {
    max-width: 75%;
  }
  li {
    margin-bottom: 4px;
    @include media(large) {
      margin-bottom: 8px;
    }
  }
}

//////////////

// Book page elements
.practice-detail-section {
  margin: 36px 0;

  h2 {
    font-weight: 400;
    margin: 0;
  }

  .practice-address {
    margin: 6px 0;
    @include media(large) {
      margin: 12px 0;
      font-size: 18px;
    }
  }

  .practice-contact {
    margin: 12px 0;
    @include media(large) {
      margin: 18px 0;
    }
  }

  a[href*="tel:"] {
    cursor: default;
    color: inherit;
    text-decoration: none;
  }
}

.smallprint {
  font-size: 15px;
  color: rgba($black, 0.5);
}
