<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    NHS.UK Alpha
  </title>

  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/e3854e97-b35c-4f31-bf5d-f804408f2ef8.css"/>
  <link href="/stylesheets/nhsuk.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/widget.css" media="screen" rel="stylesheet" type="text/css" />

  <!--[if lt IE 9]>
    <script src="/javascripts/vendor/html5shiv.js" type="text/javascript"></script>
    <script src="/javascripts/vendor/html5shiv-printshiv.js" type="text/javascript"></script>
  <![endif]-->

</head>
<body>

<div id="skiplink-container">
  <div>
    <a href="#content">Skip to main content</a>
  </div>
</div>

<div id="global-cookies-banner" role="alert">
  <p>
    NHS.UK uses cookies to make the site simpler.
    <a href="/help/cookies">Find out more about cookies</a>
  </p>
</div>

<header role="banner" id="global-header">
  <div class="header-container">
    <a href="/" class="header-logo" title="Go to the NHS.UK homepage">
      <img src="/images/nhs-logotype.svg" alt="NHS" width="90" height="36">
    </a>
  </div>
</header>

<div class="phase-banner">
  <p>
    <b>This is a new service.</b> We're still working on it. Send feedback to
    <a href="mailto:alphafeedback@digital.nhs.uk">alphafeedback@digital.nhs.uk</a>
    to help us improve it. The live service is <a href="http://www.nhs.uk">NHS.UK.</a>
  </p>
</div>

<main id="content" role="main">

  <form name="" id="" action="" method="get" class="gp-finder-search">
    <div class="block-container">
      <label for="search">
        Find your GP practice
        <span class="hint">Practice name, address, GP name, postcode, etc.</span>
      </label>
      <div class="clearfix">
        <input type="text" name="search" id="search" class="form-control" value="" />
        <button type="submit" class="button">Search</button>
      </div>
    </div>
  </form>

  <form name="" id="" action="" method="get" class="gp-finder-search">
    <div class="block-container">
      <label for="search">
        Find your GP practice
        <span class="hint">123456 results found for <span class="visuallyhidden">Lakeside</span></span>
      </label>
      <div class="clearfix">
        <input type="text" name="search" id="search" class="form-control" value="Lakeside" />
        <button type="submit" class="button">Search</button>
      </div>
    </div>
  </form>

  <div class="block-container">

    <div class="gp-finder-results">

      <a href="#" class="result">
        <h2><strong>Devonshire</strong> Green Medical Centre</h2>
        <p class="address">126 <strong>Devonshire</strong> Street, Sheffield, S3 7SF</p>
      </a>

      <a href="#" class="result">
        <h2>Clover Group Practice</h2>
        <p class="address">Jordanthorpe Health Centre, 1 Dyche Close, Sheffield, S8 8DJ</p>
        <p class="person">
          <img src="/images/person-placeholder.svg" width="45" height="45" alt="" />
          Dr JE <strong>Devonshire</strong>
        </p>
      </a>

      <a href="#" class="result">
        <h2>The <strong>Devonshire</strong> Lodge Practice</h2>
        <p class="address">2 Abbotsbury Gardens, Eastcote, Middlesex, HA5 1TG</p>
      </a>

      <a href="#" class="result">
        <h2>The Street Lane Practice</h2>
        <p class="address">12 <strong>Devonshire</strong> Avenue, Southsea, Portsmouth,
          Hampshire, PO4 9EH</p>
      </a>

      <a href="#" class="result">
        <h2>Clover Group Practice</h2>
        <p class="address">Jordanthorpe Health Centre, 1 Dyche Close, Sheffield, S8 8DJ</p>
        <p class="person">
          <img src="/images/person-placeholder.svg" width="45" height="45" alt="" />
          Dr JE <strong>Devonshire</strong>
        </p>
      </a>

    </div>

    <nav class="pagination gp-finder-pagination" role="navigation">
      <div class="previous-page">
        <a href="/depression-and-anxiety/seeking-help">
          <span class="prefix">Page 1 of 3000:</span>
          <span class="title">Previous</span>
        </a>
      </div>
      <div class="next-page">
        <a href="/depression-and-anxiety/seeking-help">
          <span class="prefix">Page 3 of 3000:</span>
          <span class="title">Next</span>
        </a>
      </div>
    </nav>

  </div>


</main>


<footer id="global-footer" role="contentinfo">
  <div class="footer-container">
    <nav>
      <ul>
        <li><a href="/help/cookies">Cookies</a></li>
        <li><a href="/help/clinical-assurance">Clinical assurance</a></li>
      </ul>
    </nav>

    <p>
      &copy; Crown copyright<br>
      Content available under <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0.</a>
    </p>
  </div>
</footer>

<script type="text/javascript" src="/javascripts/cookies.js"></script>

</body>
</html>
