<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    Going for regular check ups -
    Type 2 diabetes -
    NHS.UK Alpha
  </title>

  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/e3854e97-b35c-4f31-bf5d-f804408f2ef8.css"/>
  <link href="/stylesheets/nhsuk.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/widget.css" media="screen" rel="stylesheet" type="text/css" />

  <!--[if lt IE 9]>
    <script src="/javascripts/vendor/html5shiv.js" type="text/javascript"></script>
    <script src="/javascripts/vendor/html5shiv-printshiv.js" type="text/javascript"></script>
  <![endif]-->

</head>
<body>

<div id="skiplink-container">
  <div>
    <a href="#content">Skip to main content</a>
  </div>
</div>

<div id="global-cookies-banner" role="alert">
  <p>
    NHS.UK uses cookies to make the site simpler.
    <a href="/help/cookies">Find out more about cookies</a>
  </p>
</div>

<header role="banner" id="global-header">
  <div class="header-container">
    <a href="/" class="header-logo" title="Go to the NHS.UK homepage">
      <img src="/images/nhs-logotype.svg" alt="NHS" width="90" height="36">
    </a>
  </div>
</header>

<div class="phase-banner">
  <p>
    <b>This is a new service.</b> We're still working on it. Send feedback to
    <a href="mailto:alphafeedback@digital.nhs.uk">alphafeedback@digital.nhs.uk</a>
    to help us improve it. The live service is <a href="http://www.nhs.uk">NHS.UK.</a>
  </p>
</div>

<main id="content" class="block-container" role="main" tabindex="-1">
  <nav class="condition-navigation" role="navigation">
    <h1>Type 2 diabetes</h1>

    <ol>
      <li>
        <a href="http://alpha.nhs.uk/type-2-diabetes/check-if-you-have-it">Check if you have it</a>
      </li>
      <li>
        <a href="http://alpha.nhs.uk/type-2-diabetes/getting-diagnosed">Getting diagnosed</a>
      </li>
      <li>
        <a href="http://alpha.nhs.uk/type-2-diabetes/understanding-medication">Understanding medication</a>
      </li>
      <li>
        Going for regular check ups
      </li>
      <li>
        <a href="http://alpha.nhs.uk/type-2-diabetes/health-problems">Health problems</a>
      </li>
      <li>
        <a href="http://alpha.nhs.uk/type-2-diabetes/food-and-keeping-active">Food and keeping active</a>
      </li>
      <li>
        <a href="http://alpha.nhs.uk/type-2-diabetes/finding-help-and-support">Finding help and support</a>
      </li>
    </ol>
  </nav>

  <div class="content-measure">
    <h1 id="going-for-regular-check-ups">Going for regular check ups</h1>

    <p>Type 2 diabetes check ups help to make sure your condition doesn’t lead to other health problems, for example with your eyesight, heart or your feet.</p>

    <h2 id="every-3-months">Every 3 months</h2>

    <h3 id="blood-sugar-checks-hba1c-test">Blood sugar checks (HbA1C test)</h3>

    <p>Checks your average blood sugar levels and how close they are to normal.</p>

    <p>You have these checks every 3 months when newly diagnosed, then every 6 months once you’re stable.</p>

    <p>
      <a href="/" class="button button-secondary-cta">
        Book a blood sugar check
      </a>
    </p>

    <h2 id="once-a-year">Once a year</h2>

    <h3 id="feet">Feet</h3>

    <p>Checks if you’ve lost any sensation in your feet and possibly for ulcers and infections.</p>

    <p>You have these checks once a year.</p>

    <p>Speak to your GP if you have cuts, bruises, or numbness in your feet.</p>

    <h3 id="eyes">Eyes</h3>

    <p>Checks for damage to blood vessels in your eyes.</p>

    <p>You have these checks once a year.</p>

    <p>Speak to your GP if you have blurred vision.</p>

    <h3 id="blood-pressure-blood-fats-cholesterol-and-kidneys">Blood pressure, blood fats (cholesterol) and kidneys</h3>

    <p>Checks for high blood pressure, heart and kidney disease.</p>

    <p>You have these checks once a year.</p>

    <p><a href="http://alpha.nhs.uk/type-2-diabetes/health-problems">Why it’s important to have these check ups</a></p>

    <h2 id="what-happens-after-your-appointment">What happens after your appointment</h2>

    <p>The person you have the appointment with, for example your diabetes nurse, will tell you how long it takes to get the test results and if you need to come in again.</p>
  </div>

  <nav class="pagination" role="navigation">
    <div class="next-page">
      <a href="http://alpha.nhs.uk/type-2-diabetes/health-problems">
        <span class="prefix">Next page:</span>
        <span class="title">Health problems</span>
      </a>
    </div>

    <div class="previous-page">
      <a href="http://alpha.nhs.uk/type-2-diabetes/understanding-medication">
        <span class="prefix">Previous page:</span>
        <span class="title">Understanding medication</span>
      </a>
    </div>
  </nav>
</main>

<footer id="global-footer" role="contentinfo">
  <div class="footer-container">
    <nav>
      <ul>
        <li><a href="/help/cookies">Cookies</a></li>
        <li><a href="/help/clinical-assurance">Clinical assurance</a></li>
      </ul>
    </nav>

    <p>
      &copy; Crown copyright<br>
      Content available under <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0.</a>
    </p>
  </div>
</footer>

<script type="text/javascript" src="/javascripts/cookies.js"></script>

</body>
</html>
