.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: "";
    display: block;
    clear: both; }

input:focus,
button:focus {
  outline: 3px solid #FFED00; }

.visuallyhidden {
  position: absolute;
  top: -999em;
  left: -999em; }

.service-banner {
  padding: 18px 0;
  background-color: rgba(0, 114, 198, 0.1); }
  .service-banner h1 {
    font-size: 18px;
    line-height: 24px;
    margin: 0; }

.gp-finder-search {
  padding: 9px 0;
  background-color: #EFF5FD; }
  @media (min-width: 769px) {
    .gp-finder-search {
      padding: 18px 0; } }
  .gp-finder-search h1 {
    margin: 0;
    font-size: 26px;
    font-weight: 400;
    line-height: inherit;
    color: #0072C6; }
  .gp-finder-search label {
    display: block;
    padding-left: 5px; }
  .gp-finder-search input[type="text"] {
    float: left;
    box-sizing: border-box;
    width: calc(100% - 54px);
    padding: 0 12px;
    font-family: inherit;
    font-size: 26px;
    line-height: 48px;
    border: 3px solid #0072C6; }
    @media (min-width: 769px) {
      .gp-finder-search input[type="text"] {
        width: calc(75% - 54px); } }
  .gp-finder-search button {
    float: left;
    box-sizing: border-box;
    width: 54px;
    padding: 0 12px;
    font-family: inherit;
    font-size: 26px;
    line-height: 54px;
    text-indent: -999em;
    color: #ffffff;
    background: url("/images/icon-search.svg") center no-repeat #0072C6;
    background-size: 65%;
    border: 0;
    cursor: pointer; }
  .gp-finder-search .clearfix {
    padding: 18px 0 0 0; }

@media (min-width: 769px) {
  .gp-finder-results {
    max-width: 75%; } }
.gp-finder-results a.result {
  display: block;
  margin: 9px 0;
  padding: 12px 12px 6px 12px;
  text-decoration: none;
  color: #231f20;
  background-color: #ffffff;
  border: 1px solid #b9d2dc;
  border-bottom-width: 2px; }
  @media (min-width: 769px) {
    .gp-finder-results a.result {
      margin: 18px 0; } }
.gp-finder-results a.result {
  transition: background-color 0.2s; }
  .gp-finder-results a.result:hover {
    background-color: #fffde6; }
@media (any-pointer: fine) {
  .gp-finder-results a.result {
    transition: opacity 0.2s; }
  .gp-finder-results:hover a.result {
    opacity: 0.2; }
    .gp-finder-results:hover a.result:hover {
      opacity: 1;
      background-color: #ffffff; } }
.gp-finder-results h2 {
  font-weight: 400;
  color: #0072C6;
  text-decoration: underline;
  margin: 0; }
.gp-finder-results p {
  margin: 6px 0;
  font-size: 16px; }
  @media (min-width: 769px) {
    .gp-finder-results p {
      margin: 12px 0;
      font-size: 18px; } }
.gp-finder-results .distance {
  font-size: 14px; }
  @media (min-width: 769px) {
    .gp-finder-results .distance {
      font-size: 16px; } }
.gp-finder-results .person {
  position: relative;
  left: 6px;
  padding-left: 18px;
  border-left: 1px dotted #231f20; }
  .gp-finder-results .person img {
    display: inline-block;
    vertical-align: middle; }
  .gp-finder-results .person:before {
    content: '';
    position: absolute;
    left: -1px;
    top: 48%;
    bottom: 0;
    display: block;
    width: 12px;
    background-color: #ffffff;
    border-top: 1px dotted #231f20; }
.gp-finder-results strong {
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 400;
  background-color: #e6f1f9; }

@media (min-width: 769px) {
  .gp-finder-pagination {
    max-width: 75%; } }

.gp-finder-foot {
  margin-top: 22px;
  font-size: 16px; }
  @media (min-width: 769px) {
    .gp-finder-foot {
      max-width: 75%; } }
  .gp-finder-foot li {
    margin-bottom: 4px; }
    @media (min-width: 769px) {
      .gp-finder-foot li {
        margin-bottom: 8px; } }

.practice-detail-section {
  margin: 36px 0; }
  .practice-detail-section h2 {
    font-weight: 400;
    margin: 0; }
  .practice-detail-section p {
    margin: 6px 0;
    font-size: 16px; }
    @media (min-width: 769px) {
      .practice-detail-section p {
        margin: 12px 0;
        font-size: 18px; } }

.call-to-action-section {
  margin: 36px 0;
  padding: 18px 0 1px 0;
  background-color: rgba(0, 114, 198, 0.1); }
  .call-to-action-section h3 {
    margin-top: 0; }
  .call-to-action-section a {
    font-size: 92px;
    line-height: 0.8;
    font-weight: 700;
    letter-spacing: -2px;
    text-decoration: none;
    color: #0072C6; }

.smallprint {
  font-size: 15px;
  color: rgba(35, 31, 32, 0.5); }

/*# sourceMappingURL=widget.css.map */
